.vscode/
.DS_Store
__pycache__/
.publish_spaceseg_clean/
.tmp_pdf_render/
.edge-pdf-profile/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
outputs/
checkpoints/*.pt
data/
wandb/
*.pth
*.pt
/banner.png
/pipe.pdf
